:root {
  --measure: 75ch;
  --brightfg: #1B4242; /*color de enlaces*/
  --brightbg: #F8F9BD;
  --dullbg: #5C8374; /*color de barra de navegación*/
  --darkbg: #607660; /*color de fondo lateral*/
  --darkfg: #092635; /*color de títulos*/
  --sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #1b2631 ; /*color de letra base*/
  line-height: 1.5em;
  font-family: "Georgia", serif; }

* {
  max-width: var(--measure);
  box-sizing: border-box; }

html,
div,
header,
nav,
main,
footer {
  max-width: none; }

.maindiv {
  background-color: #9EC8B9; /*color de fondo interior*/
  box-sizing: content-box;
  margin: 0 auto;
  padding: 1.5rem calc(1.5ch * 1.5 * 1.5); }

.org-src-container {
  background-color: #303446; }

h1,
h2,
h3,
h4,
h5,
h6,
.headline,
strong {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: var(--darkfg); }

.short-text {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

body {
  max-width: calc(var(--measure) * 1.2);
  background-color: var(--darkbg);
  margin: 0 auto;
  font-size: 16px; }

a {
  text-decoration: none;
  color: var(--brightfg);
  font-family: var(--sans);
  font-weight: bold; }

.sidebar-l > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(1rem / 2 * -1); }

.sidebar-l > * > * {
  margin: calc(1rem / 2);
  flex-grow: 1; }

.sidebar-l > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem); }

.sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(1rem / 2 * -1); }

.sidebar > * > * {
  margin: calc(1rem / 2);
  flex-grow: 1; }

.sidebar > * > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem); }

nav {
  text-align: right; }

.headline {
  font-size: calc(1.5rem * 1.5);
  font-weight: bold;
  line-height: 1.5rem; }

.headline > a {
  color: var(--darkfg); }

.navdiv {
  background-color: var(--dullbg);
  padding: 1.5rem 1.5rem; }

.navbutton {
  display: inline-block;
  border: none;
  padding: 0 calc(4rem / 9);
  text-align: center; }

.navbutton > * {
  color: var(--darkfg);
  font-family: var(--sans); }

.current {
  background-color: var(--brightbg);
  padding: calc(2em / 3) calc(2em / 3); }

.pagination {
  text-align: center; }

.page-item {
  list-style-type: none;
  display: inline-block;
  padding: 0 calc(2em / 3);
  background-color: var(--dullbg); }

.page-item > * {
  color: var(--darkfg); }


 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 

pre code {
  background-color: #3f7589;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
